# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LastSpace.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\KDFX Team\Desktop\UnityProjects\LastSpace\.idea\.idea.LastSpace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
